// footer
.page__footer.w1320
	.container.footer
		.footer__top
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Информационно-платежные системы
					li: a(href="#") Кассовые боксы
					li: a(href="#") Кассовые аппараты
					li: a(href="#") Фискальные регистраторы
					li: a(href="#") POS-системы
					li: a(href="#") Денежные ящики
					li: a(href="#") Периферия
					li: a(href="#") Online кассы
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Платформенные весы
					li: a(href="#") Крановые весы
					li: a(href="#") Встраиваемые весы
					li: a(href="#") Весы с печатью этикеток
					li: a(href="#") Торговые весы
					li: a(href="#") Напольные весы
					li: a(href="#") Специальные весы
					li: a(href="#") Аксессуары
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Сканеры штрих кода
					li: a(href="#") Терминалы сбора данных
					li: a(href="#") Аксессуары
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Упаковщики банкнот
					li: a(href="#") Детекторы банкнот
					li: a(href="#") Счетчики банкнот
					li: a(href="#") Счетчики монет
					li: a(href="#") Оборудование для работы с банковскими картами
					li: a(href="#") Темпо-кассы
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Информационно-платежные системы
					li: a(href="#") Кассовые боксы
					li: a(href="#") Кассовые аппараты
					li: a(href="#") Фискальные регистраторы
					li: a(href="#") POS-системы
					li: a(href="#") Денежные ящики
					li: a(href="#") Периферия
					li: a(href="#") Online кассы
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Принтеры этикеток
					li: a(href="#") Чековые принтеры
					li: a(href="#") Мобильные принтеры
					li: a(href="#") Аксессуары
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Термоэтикетки
					li: a(href="#") Картриджи
					li: a(href="#") Чековая лента
					li: a(href="#") Журналы кассира
					li: a(href="#") Этикетлента
					li: a(href="#") Бирки радиочастотные съемные
					li: a(href="#") Радиочастотные наклейки
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Кондиционеры
					li: a(href="#") Увлажнители воздуха
					li: a(href="#") Конвекторы
					li: a(href="#") Тепловые вентиляторы
					li: a(href="#") Тепловые завесы
					li: a(href="#") Тепловые пушки
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Для кухни
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Запайщики
			.footer__menu
				.footer__menu-header Кассовая техника
			.footer__menu
				.footer__menu-header Кассовая техника
				ul
					li: a(href="#") Програмное обеспечение
					li: a(href="#") Программное обеспечение для терминалов сбора данных
					li: a(href="#") Программное обеспечение для торговли
					li: a(href="#") Программное обеспечение для сегмента
					li: a(href="#") HoReCa
					li: a(href="#") Программное обеспечение для сферы услуг
					li: a(href="#") Программное обеспечение сервисное
					li: a(href="#") Прочее
	.footer__bottom
		.container
			.left
				img(src="img/footer-logo.png", alt="votorg")
				p.copyright 2013-2016 © "Всеоторг" - торгово-кассовое <br> оборудование всех видов
			.right
				a(href="tel:+74951344245").phone-big 7-495-134-42-45
				p г. Москва, ул.Рязанский проспект, 8-А
				a(href="#") sales@votorg.ru

// footer end