head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Start
    meta(name='description', content='')
    meta(name="viewport" content='width=device-width')
    meta(name="theme-color", content='#363636')
    link(rel="shortcut icon" href="favicon.ico")
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='libs/owl/owl.carousel.css')
    link(rel='stylesheet', href='libs/bxslider/jquery.bxslider.css')
    link(rel='stylesheet', href='libs/fancybox/jquery.fancybox.css')
    link(rel='stylesheet', href='libs/formstyler/jquery.formstyler.css')
    link(rel='stylesheet', href='libs/ui-slider/jquery-ui.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='libs/modernizr.js')