.header-catalog__menu
	.container
		.col.header-catalog__category
			ul
				li: a(href="catalogCatKas")
					.catalog-icon-wrap
						i.icon.icon-cat-kas
					span Кассовая техника
				li: a(href="catalogCatVesi")
					.catalog-icon-wrap
						i.icon.icon-cat-vesi
					span Весовое оборудование
				li: a(href="catalogCatScan")
					.catalog-icon-wrap
						i.icon.icon-cat-scan
					span Сканеры и ТСД
				li: a(href="catalogCatBank")
					.catalog-icon-wrap
						i.icon.icon-cat-bank
					span Банковское оборудование
				li: a(href="catalogCatPrinter")
					.catalog-icon-wrap
						i.icon.icon-cat-printer
					span Принтеры
				li: a(href="catalogCatRash")
					.catalog-icon-wrap
						i.icon.icon-cat-rash
					span Расходные материалы
				li: a(href="catalogCatClime")
					.catalog-icon-wrap
						i.icon.icon-cat-clime
					span Климатическоеоборудование
				li: a(href="catalogCatPo")
					.catalog-icon-wrap
						i.icon.icon-cat-po
					span Програмное обеспечение
				li: a(href="catalogCatHome")
					.catalog-icon-wrap
						i.icon.icon-cat-home
					span Для дома
				li: a(href="catalogCatOther")
					.catalog-icon-wrap
						i.icon.icon-cat-other
					span Прочее
				li: a(href="catalogCatRasp")
					.catalog-icon-wrap
						i.icon.icon-cat-rasp
					span Распродажа	
		.col.header-catalog__type
			ul.catalogCatKas.active
				li: a(href="#") Банковское оборудование1
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatVesi
				li: a(href="#") Банковское оборудование2
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatScan
				li: a(href="#") Банковское оборудование3
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatBank
				li: a(href="#") Банковское оборудование4
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatPrinter
				li: a(href="#") Банковское оборудование5
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatRash
				li: a(href="#") Банковское оборудование6
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatClime
				li: a(href="#") Банковское оборудование7
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatPo
				li: a(href="#") Банковское оборудование8
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatHome
				li: a(href="#") Банковское оборудование9
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatOther
				li: a(href="#") Банковское оборудование10
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
			ul.catalogCatRasp
				li: a(href="#") Банковское оборудование11
				li: a(href="#") Упаковщики банкнот
				li: a(href="#") Детекторы банкнот
				li: a(href="#") Счетчики банкнот
				li: a(href="#") Счетчики монет
				li: a(href="#") Оборудование для работы
				li: a(href="#") с банковскими картами
				li: a(href="#") Темпо-кассы
		.col.header-catalog__brand
			ul.catalogCatKas.active
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatVesi
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatScan
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatBank
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatPrinter
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatRash
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatClime
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatPo
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatHome
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatOther
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
			ul.catalogCatRasp
				li: a(href="#"): img(src="img/cat-brend1.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend2.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend3.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend4.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend5.jpg", alt="")
				li: a(href="#"): img(src="img/cat-brend6.jpg", alt="")
		.col.header-catalog__preview.clearfix
			#catalogPreview.tovar
				.tovar__image.fl-right
					img(src="img/catalog-preview.jpg", alt="")
				.tovar__info.fl-right
					strong.tovar__name Счетчик банкнот DORS 750
					p.tovar__desc Счетчик банкнот DORS 750 с автоматическим распознаванием...
					.tovar__bottom
						.col
							p.tovar__price 50 223 Р
							ul.star-rating
								li.icon.icon-star
								li.icon.icon-star
								li.icon.icon-star
								li.icon.icon-star
								li.icon.icon-star
						.col.fl-right
							a(href="#").btn.btn--blue.catalog-buy
								i.icon.icon-cart-white
								span Купить
