.tovar
	.tovar__image
		img(src="img/catalog-preview.jpg", alt="")
	.tovar__info
		strong.tovar__name Счетчик банкнот DORS 750
		p.tovar__desc Счетчик банкнот DORS 750 с автоматическим распознаванием...
		.tovar__bottom.clearfix
			.col
				p.tovar__price 50 223 Р
				ul.star-rating#starRating
					li.icon.icon-star
					li.icon.icon-star
					li.icon.icon-star
					li.icon.icon-star
					li.icon.icon-star
			.col.fl-right
				a(href="#").btn.btn--blue.catalog-buy
					i.icon.icon-cart-white
					span Купить